<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>36483311572-lnbf9dgs0kjtd5du85vk4jpmaj89qna6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.36483311572-lnbf9dgs0kjtd5du85vk4jpmaj89qna6</string>
	<key>API_KEY</key>
	<string>AIzaSyDFMdlk8q3AgInxhQh2eDDZAuiGymAJZRE</string>
	<key>GCM_SENDER_ID</key>
	<string>36483311572</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-24fc0</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-24fc0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:36483311572:ios:a95e444c20b8d216d3d841</string>
</dict>
</plist>